<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>This is SignUp Page</h1>
    <div>
        <form action="/singUp" method="post">
            <label for="name">UserName</label><br>
            <input type="text" name="name" placeholder="Enter UserName"><br><br>
            <label for="password">Password</label><br>
            <input type="text" name="password" placeholder="Enter Password"><br><br>
            <input type="submit"><span><button style="margin-left: 20px;"><a href="/">Go to Login</a></button></span>
        </form>
    </div>
</body>
</html>